.app{
    height: 100%;
}

.icon1:hover,
.icon2:hover {
    transform: scale(1.3);
}
.iconHeader:hover{
    transform: scale(1.15);
}
.iconMenu{
    display: none;
}
.menu{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 800px) {
    .iconMenu{
        display: block;
    }
    .menu{
        display: none;
    }
}

.linkMenu:hover{
    transform: translateX(1em);
}